<!DOCTYPE html>
<html>

<head>
  <title>O365 Connect sample</title>
</head>

<body>
  <h2>Microsoft Graph Connect sample</h2>

  <!-- App main content markup. -->
  <p>Connected to Office 365.</p>
  <br/>
  <form action="/user_lookup">
      Name: <input name="username">
      <input type="submit" value="User lookup">
  </form>
  <br/>
  <p>Graph dump: {{ graphDump }}</p>
  <br/>
  <p>Self lookup: <a href="/me">/me</a></p>
  <p>OneDrive: <a href="/onedrive">/onedrive</a></p>
  <p>Main: <a href="/main">/main</a></p>
  <p>Restart: <a href="/">/</a></p>
</body>

</html>